.jumbotron {
    background-color:#5B5A21;
    color: #E5E5E5;   
    padding: 2rem;
}
.text_center {
    text-align: center;
}
.display-4 {
    font-family: 'Sansita Swashed', sans-serif;
}
p {
    font-family: 'Lato', sans-serif;
}
a  {
    font-family: 'Lato', sans-serif;
}
.card {
    font-family: 'Lato', sans-serif;
    border: none;
}
.navbar-toggler-icon {
    width: 100px;
    height: 100px;
}
.nav-item {
    padding-left: 20px;
    padding-right: 20px;
}
.nav-link:hover {
    background-color: #CBC854;
}
.my_logo {
    width: 50px;
    height: 50px;
}
.btn-primary {
    background-color: #5B5A21;
    border-color: #CBC854;
}
.btn-primary:hover {
    background-color: #CBC854;
    color: black;
    border: #CBC854;
}
.wrapper {
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) {
    a.navbar-brand .my_logo {
        width: 100px;
        height: 100px;
    }
  }

