/* CSS for entire site */
body {
    background-color: #f8f9fa;
}
p {
    font-family: 'Lato', sans-serif;
    color: #303030;
}
h1 {
    font-family: 'Lato', sans-serif;
}
h4 {
    text-align: center;
    color: #303030;
}
h5 {
    font-family: "Lato", "sans-serif";
    color: #303030;
}
.text_center {
    text-align: center;
}
.Lato {
    font-family: "Lato", "sans-serif";
}
.georgia_font {
    font-family: "Georgia";
}
.caption {
    font-family: "Lato", "sans-serif";
    color: #066D69;
    font-style: italic;
    text-align: center;
}
.italics {
    font-style: italic;
}

/* CSS for entire site */

/* Nav bar */
.navbar-brand {
    margin: 0;
    padding: 0;
}
.navbar-nav .nav-link {
    text-align: center;
}
.nav-item {
    padding-left: 20px;
    padding-right: 20px;
    color: #066D69;
}
.nav-link:hover {
    background-color: #f8f9fa;
    text-decoration: none;
}
.highlighted {
    background-color: #5CFF8A;
}
.navbar-brand {
    color: #19535F;
}
.navbar-light .navbar-toggler-icon {
    background-image: url(img/MENU.svg);
}
/* Nav bar */

/* Jumbotron */
.jumbotron {
    background-color:#066D69;
    background-image: url(img/treefaint.png);
    background-size: cover;
    color: #F0F3F5;   
    padding: 2rem;
    margin-bottom: 0;
}
.jumbo-link  {
    font-family: 'Lato', sans-serif;
    color: #f0f3f5;
}
.jumbo-link:hover {
    text-decoration: underline;
    color: #5CFF8A;
}
.lead {
    color: #F0F3F5;
    font-size: 3rem;
    font-weight: 200;
}
a:hover {
    text-decoration: none;
}
.case_studies {
    display: flex;
    margin-bottom: 20px;
}
/* Jumbotron */

/* Case Studies Cards */
.card {
    font-family: 'Lato', sans-serif;
    border: none;
    background-color: #f8f9fa;
}
.card-title {
    color: #19535F;
    margin-top: .75rem;
}
.card-title:hover {
    color: #f0f3f5;
    text-decoration: none;
    background-color: #2C363A;
}
.card-link {
    color: #19535F;
}
.card-link:hover {
    color: #f0f3f5;
    text-decoration: none;
    background-color: #2C363A;
}
.bg-light {
    background-color: #F0F3F5!important;
}
/* Case Studies Cards */

/* CSS Case Studies */

.blocktext {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    display: block;
    margin-left: 35px;
    margin-right: 0;
    height: max-content;
}

.title_case_study {
    font-family: "Lato","sans-serif";
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
}
.display_case_study {
    font-family: "Lato","sans-serif";
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    color: #19535F;
    margin-top: 1rem;
}
.paragraph_case_study {
    font-family: "Lato","sans-serif";
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #303030;
}
.designers {
    list-style: none;
    text-align: left;
    color: #f0f3f5;
    margin: auto;
    padding: 10px;
   
}

@media only screen and (max-width: 768px) {
    .navbar-brand {
        font-size: 1.2rem;
    }
  .lead {
    font-size: 16pt;
}
}

@media only screen and (min-width: 768px) {
.desktop_center {
    text-align: center;
}
.georgia_font {
    padding-left: 20%;
    padding-right: 20%;
}
.caption {
    padding-left: 20%;
    padding-right: 20%;
    display: none;
}
.img-fluid {
    padding-left: 20%;
    padding-right: 20%;
    
}
.mobile_only {
    display: none;
}
}