.body {
    background-color: #F7EFE2;
}

.blue_text {
    color: #19535F !important;
}
.bg-light {
    background-color: #F0F3F5!important;
    /*
    border-bottom: solid 3px #591B1B;;
  */
}
 .jumbotron {
    background-color:#0B7A75;
    color: #F0F3F5;   
    padding: 2rem;
}
.lead {
    color: #F0F3F5;
}
.text_center {
    text-align: center;
}
.display-4 {
    margin: 1.5rem;
    font-size: 3rem;
    text-align: center;
    font-family: "grad","serif";
    font-weight: 400;
    font-style: normal;
}
.hello {
    font-family: "Sansita Swashed", "grad", "serif";
}

p {
    font-family: 'Lato', sans-serif;
    color: #303030;
}
a  {
    font-family: 'Lato', sans-serif;
    color: #303030;
}
.card {
    font-family: 'Lato', sans-serif;
    border: none;
}
.card-title:hover {
    background-color: #0B7A75;
    color: #f0f3f5!important;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.green_hover:hover {
    background-color: #0B7A75;
    color: #f0f3f5!important;
    text-decoration: none;
}
.navbar-toggler-icon {
 
}
.navbar-toggler {
 
}
.navbar-brand {
    margin: 0;
    padding: 0;
}
.navbar-nav .nav-link {
    text-align: center;
}

.nav-item {
    padding-left: 20px;
    padding-right: 20px;
    color: #19535F;
}
.nav-link:hover {
    background-color: #0B7A75;
    color: #f0f3f5!important;
    text-decoration: none;
}
.my_logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.btn-primary {
    background-color: #19535F;
    color: #f0f3f5;
    border: none;
    width: 50%;
}
.learn_more {
display: none;
}

.btn-primary:hover {
    background-color: #0B7A75;
    color: #f0f3f5;
    border: none;
    text-decoration: none;
}
.wrapper {
    display: flex;
    justify-content: center;
}

.pageheading {
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.projects {
    margin: 25px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: none;
    gap: 10px;
    justify-content: space-evenly;
}

.project_margin {
 margin-bottom: 20px;
}

.blocktext {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    display: block;
    margin-left: 35px;
    margin-right: 0;
    height: max-content;
}
.navbar-brand {
    color: #19535F;
}

.projectimages{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-items: center;
    border: solid 3px #1B1C1E;
}

h4 {
    text-align: center;
    color: #303030;
}
h5 {
    font-family: "Lato", "sans-serif";
    color: #303030;
}

.footer {
    background-color: #f0f3f5;
}
.white_text {
    color: #19535F;
    font-family: "Lato", "sans-serif";
}
.white_text:hover {
    color: #0B7A75;
}
.footer-copyright {
    background-color: #591B1B;
    
}
.white {
    color: #19535F;
}

.white_space {
padding-bottom: 30px;
}
.margin_24 {
    margin-top: 24px;
}
.title_case_study {
    font-family: "Lato","sans-serif";
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
}
.display_case_study {
    font-family: "Lato","sans-serif";
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    color: #19535F;
    margin-top: 1rem;
}
.paragraph_case_study {
    font-family: "Lato","sans-serif";
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #303030;
}
.designers {
    list-style: none;
    text-align: left;
    color: #f0f3f5;
    margin: auto;
    padding: 10px;
   
}
.background_green {
    background-color:  #0B7A75;
    border: solid 3px #0B7A75;
    padding: 10px;
}
.circle {
    width: auto;
    height: auto;
    border-radius: 50%;
    background: #0B7A75a5;
    margin: 10pt;
    display: flex;
    align-items: center; 
    align-content: center;
    justify-content: center
  }

.flex_donate {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.donate_text {
    background-color: rgba(255, 255, 0, 0.699); 
    padding: 10px;
}

.actually_white {
    color: #f0f3f5;
}
/* Style the header: fixed position (always stay at the top) */
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color:#F0F3F5;
  }
  
  /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 8px;
    background: #F0F3F5;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    background: #0B7A75;
    width: 0%;
  }

@media only screen and (max-width: 768px) {
    .navbar-brand {
        font-size: 1.2rem;
    }
    .learn_more {
        display: block;
        }
  }
